:root {
  /**
   * Color scheme
   */
  --white: #fafafa;
  --gray-light: #ddd;
  --gray-midlight: #bbb;
  --gray: #888;
  --gray-middark: #666;
  --black: #333;
  --blue: #3333dd;
  --blue-dark: #3333c0;
  --blue-light: #3333fa;

  --background-color: var(--white);
  --shadow-color: var(--gray-light);
  --text-main-color: var(--black);
  --text-subtle-color: var(--gray-middark);
  --text-very-subtle-color: var(--gray);
  --link-main-color: var(--blue-dark);
  --link-main-hover-color: var(--blue-light);
  --button-icon-color: var(--black);
  --button-icon-hover-color: var(--blue-light);
  --button-subtle-color: var(--gray-light);
  --button-subtle-hover-color: var(--gray);
  --scrollbar-track-color: var(--white);
  --scrollbar-track-hover-color: var(--gray-light);
  --scrollbar-thumb-color: var(--gray-midlight);
  --scrollbar-thumb-hover-color: var(--gray);
  --scrollbar-thumb-active-color: var(--gray-middark);

  /**
   * Fonts
   */
  --font-normal: 'Roboto Condensed', -apple-system-condensed, SanFranciscoCondensed-Regular, SanFranciscoCondensed, 'San Francisco Condensed', AvenirNextCondensed-Regular, AvenirNextCondensed, 'Avenir Next Condensed', HelveticaNueueCondensed-Regular, HelveticaNueueCondensed, 'Helvetica Neue Condensed', HelveticaCondensed-Regular, HelveticaCondensed, 'Helvetica Condensed', sans-serif-condensed, -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', 'Segoe UI', Helvetica, 'Arial Condensed', Arial, sans-serif;
  --font-title: Roboto, -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;

  /**
   * Sizes
   */
  --border-radius: 6px;

  /**
   * Shared Composites
   */
  --box-shadow-normal: 0 0 16px 2px var(--shadow-color);
  --box-shadow-mid: 0 0 20px 3px var(--shadow-color);
  --box-shadow-high: 0 0 24px 4px var(--shadow-color);
  --filter-color-subtle-hint: saturate(95%) brightness(95%);

  /**
   * Animations
   */
  --animation-speed-normal: 500ms;
  --animation-speed-fast: 250ms;
  --animation-speed-slow: 750ms;
  --animation-timing-function-natural: cubic-bezier(0.4, 0, 1, 1);
}

@keyframes card-flip {
  from {
    transform: rotateY(0deg) scale(1);
  }

  50% {
    transform: rotateY(-90deg) scale(1.1);
  }

  to {
    transform: rotateY(-180deg) scale(1);
  }
}

@keyframes lift-hint {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
    box-shadow: var(--box-shadow-high);
    filter: var(--filter-color-subtle-hint);
  }

  to {
    transform: scale(1);
  }
}

@keyframes card-flip-bounce {
  from {
    transform: rotateY(0deg) scale(1);
  }

  50% {
    transform: rotateY(-90deg) scale(1.1);
    box-shadow: var(--box-shadow-high);
  }

  75% {
    transform: rotateY(-160deg) scale(1);
  }

  90% {
    transform: rotateY(-180deg) scale(1.01);
    box-shadow: var(--box-shadow-mid);
  }

  to {
    transform: rotateY(-180deg) scale(1);
  }
}

@keyframes card-flip-bounce-back {
  from {
    transform: rotateY(-180deg) scale(1);
  }

  50% {
    transform: rotateY(-90deg) scale(1.1);
    box-shadow: var(--box-shadow-high);
  }

  75% {
    transform: rotateY(-20deg) scale(1);
  }

  90% {
    transform: rotateY(0deg) scale(1.01);
    box-shadow: var(--box-shadow-mid);
  }

  to {
    transform: rotateY(0deg) scale(1);
  }
}


/**
 * Styles
 */

html {
  /* Browser-normalizations */
  -webkit-tap-highlight-color: transparent;
}

html, body {
  display: flex;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  perspective: 400vw;
}

body {
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  font-family: var(--font-normal);
  color: var(--text-main-color);
}

a:link {
  color: var(--link-main-color);
  text-decoration: none;
  transition: color var(--animation-speed-normal) var(--animation-timing-function-natural);
}

a:hover {
  color: var(--link-main-hover-color);
}

a:visited, a:active {
  color: var(--link-main-color);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 0;
  background-color: var(--scrollbar-track-color);

  &:hover {
    background-color: var(--scrollbar-track-hover-color);
  }
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: var(--scrollbar-thumb-color);
  background-clip: padding-box;

  &:hover {
    background-color: var(--scrollbar-thumb-hover-color);
  }

  &:active {
    background-color: var(--scrollbar-thumb-active-color);
  }
}

.hero-container {
  position: relative;
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin: 40px 0px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-normal);
  z-index: 100;
  text-align: center;

  .hero-card-container {
    position: relative;
    display: block;
    max-width: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-normal);
    cursor: pointer;
    transform-style: preserve-3d;
    animation-duration: var(--animation-speed-slow);
    animation-timing-function: var(--animation-timing-function-natural);
    animation-fill-mode: both;
    animation-direction: alternate;
    transform: translate3d(0, 0, 0);
    will-change: transform, box-shadow; /* this should include `filter`, but its been broken by Chrome 84... */

    /* initial animation, to be overridden below */
    animation-name: lift-hint;
    animation-delay: 2s;

    &.is-flipped {
      animation-name: card-flip-bounce;
      animation-delay: 0s;
    }

    &.is-unflipped {
      animation-name: card-flip-bounce-back;
      animation-delay: 0s;
    }

    .profile-photo {
      display: block;
      max-width: 100%;
      border-radius: inherit;
      backface-visibility: hidden;
      background: var(--background-color);
      transform-style: preserve-3d;
      transition: filter var(--animation-speed-fast) var(--animation-timing-function-natural);

      &:hover {
        filter: var(--filter-color-subtle-hint);
      }
    }

    .profile-photo-alt {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateY(180deg);
    }
  }

  header {
    margin: 20px 0;

    hgroup {
      margin: 0;
      margin-top: 20px;
      margin-bottom: 15px;
      font-family: var(--font-title);
      line-height: 1;
    }

    h1 {
      margin: 0;
      font-size: 36px;
      font-weight: 800;
    }

    h2 {
      margin: 0;
      margin-top: 5px;
      font-size: 12px;
      font-weight: 200;
      color: var(--text-subtle-color);
    }

    h3 {
      margin: 10px 0;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.25;
    }

    h4 {
      margin: 10px 0;
      font-size: 12px;
      font-weight: 300;
      line-height: 1.25;
    }
  }

  .social-links {
    display: block;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    list-style: none;
    font-size: 0;
    line-height: 0;

    li {
      display: inline-block;
      padding: 0;
      margin: 0 2%;

      a.social-icon {
        display: block;
        text-decoration: none;
        width: 20px;
        height: 20px;

        @media (min-width: 360px) {
          width: 24px;
          height: 24px;
        }
        @media (min-width: 375px) {
          width: 25px;
          height: 25px;
        }
        @media (min-width: 500px) {
          width: 28px;
          height: 28px;
        }

        svg {
          fill: var(--button-icon-color);
          transition: fill var(--animation-speed-normal) var(--animation-timing-function-natural);
        }
      }

      a.social-icon:hover svg {
        fill: var(--button-icon-hover-color);
      }
    }
  }

  #content-expand {
    display: block;
    width: 0px;
    height: 0px;
    overflow: hidden;
    margin: 0px auto;
    margin-top: -5px;
    padding: 6px;
    border-width: 0px 4px 4px 0px;
    border-style: solid;
    border-color: var(--button-subtle-color);
    background: none;
    outline: none;
    white-space: nowrap;
    transform: rotate(45deg) skew(-25deg, -25deg);
    transition: transform var(--animation-speed-fast) var(--animation-timing-function-natural),
      margin-top var(--animation-speed-fast) var(--animation-timing-function-natural),
      border-color var(--animation-speed-normal) var(--animation-timing-function-natural);

    @media (min-width: 375px) {
      padding: 8px;
    }
    @media (min-width: 500px) {
      padding: 10px;
    }

    &:hover {
      border-color: var(--button-subtle-hover-color);
      cursor: pointer;
    }

    &.opened {
      transform: rotate(225deg) skew(-25deg, -25deg);
      margin-top: 0px;
    }

    .button-label {
      display: block;
      width: 0px;
      height: 0px;
      overflow: hidden;
      font-size: 0px;
    }
  }

  .secondary-content {
    max-height: 600px;
    overflow: hidden;
    margin: 0px 10px;
    transition: max-height var(--animation-speed-fast) var(--animation-timing-function-natural);
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.25;

    &.closed {
      max-height: 0px;
    }

    h4 {
      margin: 10px 0;
      font-size: 16px;
      font-weight: 500;
    }

    h5 {
      margin: 10px 0;
      font-size: 15px;
      font-weight: 400;
    }

    p {
      margin: 10px 0px;
    }

	ul {
      margin: 10px 0px;
      padding-left: 30px;
    }

    li {
      margin: 5px 0px;
    }
  }
}

footer {
  display: block;
  position: absolute;
  width: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  margin: 10px 0;
  text-align: center;
  font-size: 10px;
  font-weight: 100;
  color: var(--text-very-subtle-color);
}
