// bower:scss
// endbower

html, body {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #999;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

.hero-container {
  margin: 20px 0;
  max-width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #ddd;
  border-radius: 6px;
  box-shadow: 0px 0px 2px 2px #ddd;
  padding: 10px;
  text-align: center;

  h1 {
    font-size: 36px;
    line-height: 1;
    margin: 20px 0px;
  }

  h2 {
    font-size: 14px;
    line-height: 1;
    margin: 20px 0px;
  }

  .profile-photo {
    display: block;
    max-width: 100%;
    border-radius: 6px;
  }
}
