// bower:scss
// endbower

/**
 * Color scheme
 */

$white: #fafafa;
$light-gray: #ddd;
$black: #333;

/**
 * Fonts
 */

$font-normal: 'Roboto Condensed', 'Helvetica Neue Condensed', 'Helvetica Condensed', 'Arial Condensed', sans-serif-condensed;
$font-title: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/**
 * Sizes
 */

$border-radius: 6px;


/**
 * Styles
 */

html, body {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  font-family: $font-normal;
  color: $black;
}

a {
  text-decoration: none;
}

.hero-container {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background: none;
  border-radius: $border-radius;
  box-shadow: 0 0 16px 2px $light-gray;
  text-align: center;

  .profile-photo {
    display: block;
    max-width: 100%;
    border-radius: 6px;
  }

  h1 {
    margin: 20px 0;
    font-family: $font-title;
    font-size: 36px;
    font-weight: 800;
    line-height: 1;
  }

  h2 {
    margin: 20px 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.25;
  }

  .social-links {
    display: block;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    list-style: none;
    font-size: 0;
    line-height: 0;

    li {
      display: inline-block;
      padding: 0;
      margin: 0 10px;

      a.social-icon {
        display: block;
        text-decoration: none;

        img {
          display: block;
          width: 24px;
          max-height: 24px;
        }
      }
    }
  }
}
