.icon-500px { background-image: url('png/500px.png'); background-repeat: no-repeat; }

.icon-Diaspora { background-image: url('png/Diaspora.png'); background-repeat: no-repeat; }

.icon-aboutme { background-image: url('png/aboutme.png'); background-repeat: no-repeat; }

.icon-air { background-image: url('png/air.png'); background-repeat: no-repeat; }

.icon-airbnb { background-image: url('png/airbnb.png'); background-repeat: no-repeat; }

.icon-amazon { background-image: url('png/amazon.png'); background-repeat: no-repeat; }

.icon-americanexpress { background-image: url('png/americanexpress.png'); background-repeat: no-repeat; }

.icon-android { background-image: url('png/android.png'); background-repeat: no-repeat; }

.icon-apple { background-image: url('png/apple.png'); background-repeat: no-repeat; }

.icon-appnet { background-image: url('png/appnet.png'); background-repeat: no-repeat; }

.icon-asana { background-image: url('png/asana.png'); background-repeat: no-repeat; }

.icon-automatic { background-image: url('png/automatic.png'); background-repeat: no-repeat; }

.icon-baidu { background-image: url('png/baidu.png'); background-repeat: no-repeat; }

.icon-bandcamp { background-image: url('png/bandcamp.png'); background-repeat: no-repeat; }

.icon-basecamp { background-image: url('png/basecamp.png'); background-repeat: no-repeat; }

.icon-bathasu { background-image: url('png/bathasu.png'); background-repeat: no-repeat; }

.icon-bebo { background-image: url('png/bebo.png'); background-repeat: no-repeat; }

.icon-behance { background-image: url('png/behance.png'); background-repeat: no-repeat; }

.icon-bigcartel { background-image: url('png/bigcartel.png'); background-repeat: no-repeat; }

.icon-bing { background-image: url('png/bing.png'); background-repeat: no-repeat; }

.icon-bitbucket { background-image: url('png/bitbucket.png'); background-repeat: no-repeat; }

.icon-bitcoin { background-image: url('png/bitcoin.png'); background-repeat: no-repeat; }

.icon-bitly { background-image: url('png/bitly.png'); background-repeat: no-repeat; }

.icon-bootstrap { background-image: url('png/bootstrap.png'); background-repeat: no-repeat; }

.icon-buzzfeed { background-image: url('png/buzzfeed.png'); background-repeat: no-repeat; }

.icon-campaignmonitor { background-image: url('png/campaignmonitor.png'); background-repeat: no-repeat; }

.icon-circleci { background-image: url('png/circleci.png'); background-repeat: no-repeat; }

.icon-codecademy { background-image: url('png/codecademy.png'); background-repeat: no-repeat; }

.icon-codepen { background-image: url('png/codepen.png'); background-repeat: no-repeat; }

.icon-coderwall { background-image: url('png/coderwall.png'); background-repeat: no-repeat; }

.icon-codeschool { background-image: url('png/codeschool.png'); background-repeat: no-repeat; }

.icon-codio { background-image: url('png/codio.png'); background-repeat: no-repeat; }

.icon-compropago { background-image: url('png/compropago.png'); background-repeat: no-repeat; }

.icon-conekta { background-image: url('png/conekta.png'); background-repeat: no-repeat; }

.icon-coop { background-image: url('png/coop.png'); background-repeat: no-repeat; }

.icon-coursera { background-image: url('png/coursera.png'); background-repeat: no-repeat; }

.icon-csswizardry { background-image: url('png/csswizardry.png'); background-repeat: no-repeat; }

.icon-dailymotion { background-image: url('png/dailymotion.png'); background-repeat: no-repeat; }

.icon-deezer { background-image: url('png/deezer.png'); background-repeat: no-repeat; }

.icon-delicious { background-image: url('png/delicious.png'); background-repeat: no-repeat; }

.icon-designernews { background-image: url('png/designernews.png'); background-repeat: no-repeat; }

.icon-deviantart { background-image: url('png/deviantart.png'); background-repeat: no-repeat; }

.icon-digg { background-image: url('png/digg.png'); background-repeat: no-repeat; }

.icon-digitalocean { background-image: url('png/digitalocean.png'); background-repeat: no-repeat; }

.icon-discord { background-image: url('png/discord.png'); background-repeat: no-repeat; }

.icon-disqus { background-image: url('png/disqus.png'); background-repeat: no-repeat; }

.icon-draugiemlv { background-image: url('png/draugiemlv.png'); background-repeat: no-repeat; }

.icon-dribbble { background-image: url('png/dribbble.png'); background-repeat: no-repeat; }

.icon-dropbox { background-image: url('png/dropbox.png'); background-repeat: no-repeat; }

.icon-drupal { background-image: url('png/drupal.png'); background-repeat: no-repeat; }

.icon-ebay { background-image: url('png/ebay.png'); background-repeat: no-repeat; }

.icon-ello { background-image: url('png/ello.png'); background-repeat: no-repeat; }

.icon-empirekred { background-image: url('png/empirekred.png'); background-repeat: no-repeat; }

.icon-ethereum { background-image: url('png/ethereum.png'); background-repeat: no-repeat; }

.icon-etsy { background-image: url('png/etsy.png'); background-repeat: no-repeat; }

.icon-eventbrite { background-image: url('png/eventbrite.png'); background-repeat: no-repeat; }

.icon-eventstore { background-image: url('png/eventstore.png'); background-repeat: no-repeat; }

.icon-evernote { background-image: url('png/evernote.png'); background-repeat: no-repeat; }

.icon-everplaces { background-image: url('png/everplaces.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-feedly { background-image: url('png/feedly.png'); background-repeat: no-repeat; }

.icon-fitbit { background-image: url('png/fitbit.png'); background-repeat: no-repeat; }

.icon-flickr { background-image: url('png/flickr.png'); background-repeat: no-repeat; }

.icon-flipboard { background-image: url('png/flipboard.png'); background-repeat: no-repeat; }

.icon-foursquare { background-image: url('png/foursquare.png'); background-repeat: no-repeat; }

.icon-freecodecamp { background-image: url('png/freecodecamp.png'); background-repeat: no-repeat; }

.icon-gauges { background-image: url('png/gauges.png'); background-repeat: no-repeat; }

.icon-geeklist { background-image: url('png/geeklist.png'); background-repeat: no-repeat; }

.icon-geocaching { background-image: url('png/geocaching.png'); background-repeat: no-repeat; }

.icon-ghost { background-image: url('png/ghost.png'); background-repeat: no-repeat; }

.icon-git { background-image: url('png/git.png'); background-repeat: no-repeat; }

.icon-github { background-image: url('png/github.png'); background-repeat: no-repeat; }

.icon-gitlab { background-image: url('png/gitlab.png'); background-repeat: no-repeat; }

.icon-gitter { background-image: url('png/gitter.png'); background-repeat: no-repeat; }

.icon-glassdoor { background-image: url('png/glassdoor.png'); background-repeat: no-repeat; }

.icon-goldenline { background-image: url('png/goldenline.png'); background-repeat: no-repeat; }

.icon-goodreads { background-image: url('png/goodreads.png'); background-repeat: no-repeat; }

.icon-google { background-image: url('png/google.png'); background-repeat: no-repeat; }

.icon-googleanalytics { background-image: url('png/googleanalytics.png'); background-repeat: no-repeat; }

.icon-googledrive { background-image: url('png/googledrive.png'); background-repeat: no-repeat; }

.icon-googlehangouts { background-image: url('png/googlehangouts.png'); background-repeat: no-repeat; }

.icon-googleplay { background-image: url('png/googleplay.png'); background-repeat: no-repeat; }

.icon-googleplus { background-image: url('png/googleplus.png'); background-repeat: no-repeat; }

.icon-govuk { background-image: url('png/govuk.png'); background-repeat: no-repeat; }

.icon-gratipay { background-image: url('png/gratipay.png'); background-repeat: no-repeat; }

.icon-grav { background-image: url('png/grav.png'); background-repeat: no-repeat; }

.icon-gravatar { background-image: url('png/gravatar.png'); background-repeat: no-repeat; }

.icon-gulp { background-image: url('png/gulp.png'); background-repeat: no-repeat; }

.icon-gumtree { background-image: url('png/gumtree.png'); background-repeat: no-repeat; }

.icon-hatenabookmark { background-image: url('png/hatenabookmark.png'); background-repeat: no-repeat; }

.icon-heroku { background-image: url('png/heroku.png'); background-repeat: no-repeat; }

.icon-hipchat { background-image: url('png/hipchat.png'); background-repeat: no-repeat; }

.icon-hootsuite { background-image: url('png/hootsuite.png'); background-repeat: no-repeat; }

.icon-houzz { background-image: url('png/houzz.png'); background-repeat: no-repeat; }

.icon-html5 { background-image: url('png/html5.png'); background-repeat: no-repeat; }

.icon-hulu { background-image: url('png/hulu.png'); background-repeat: no-repeat; }

.icon-imdb { background-image: url('png/imdb.png'); background-repeat: no-repeat; }

.icon-instacart { background-image: url('png/instacart.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-instapaper { background-image: url('png/instapaper.png'); background-repeat: no-repeat; }

.icon-intercom { background-image: url('png/intercom.png'); background-repeat: no-repeat; }

.icon-invision { background-image: url('png/invision.png'); background-repeat: no-repeat; }

.icon-javascript { background-image: url('png/javascript.png'); background-repeat: no-repeat; }

.icon-jekyll { background-image: url('png/jekyll.png'); background-repeat: no-repeat; }

.icon-jenkins { background-image: url('png/jenkins.png'); background-repeat: no-repeat; }

.icon-joomla { background-image: url('png/joomla.png'); background-repeat: no-repeat; }

.icon-jsfiddle { background-image: url('png/jsfiddle.png'); background-repeat: no-repeat; }

.icon-json { background-image: url('png/json.png'); background-repeat: no-repeat; }

.icon-justgiving { background-image: url('png/justgiving.png'); background-repeat: no-repeat; }

.icon-kaggle { background-image: url('png/kaggle.png'); background-repeat: no-repeat; }

.icon-khanacademy { background-image: url('png/khanacademy.png'); background-repeat: no-repeat; }

.icon-kickstarter { background-image: url('png/kickstarter.png'); background-repeat: no-repeat; }

.icon-kik { background-image: url('png/kik.png'); background-repeat: no-repeat; }

.icon-kirby { background-image: url('png/kirby.png'); background-repeat: no-repeat; }

.icon-klout { background-image: url('png/klout.png'); background-repeat: no-repeat; }

.icon-koding { background-image: url('png/koding.png'); background-repeat: no-repeat; }

.icon-lanyrd { background-image: url('png/lanyrd.png'); background-repeat: no-repeat; }

.icon-laravel { background-image: url('png/laravel.png'); background-repeat: no-repeat; }

.icon-lastfm { background-image: url('png/lastfm.png'); background-repeat: no-repeat; }

.icon-launchpad { background-image: url('png/launchpad.png'); background-repeat: no-repeat; }

.icon-line { background-image: url('png/line.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.icon-linuxfoundation { background-image: url('png/linuxfoundation.png'); background-repeat: no-repeat; }

.icon-livejournal { background-image: url('png/livejournal.png'); background-repeat: no-repeat; }

.icon-livestream { background-image: url('png/livestream.png'); background-repeat: no-repeat; }

.icon-macys { background-image: url('png/macys.png'); background-repeat: no-repeat; }

.icon-magento { background-image: url('png/magento.png'); background-repeat: no-repeat; }

.icon-mailchimp { background-image: url('png/mailchimp.png'); background-repeat: no-repeat; }

.icon-makerbot { background-image: url('png/makerbot.png'); background-repeat: no-repeat; }

.icon-mastercard { background-image: url('png/mastercard.png'); background-repeat: no-repeat; }

.icon-matternet { background-image: url('png/matternet.png'); background-repeat: no-repeat; }

.icon-mediatemple { background-image: url('png/mediatemple.png'); background-repeat: no-repeat; }

.icon-medium { background-image: url('png/medium.png'); background-repeat: no-repeat; }

.icon-meetup { background-image: url('png/meetup.png'); background-repeat: no-repeat; }

.icon-messenger { background-image: url('png/messenger.png'); background-repeat: no-repeat; }

.icon-microgenetics { background-image: url('png/microgenetics.png'); background-repeat: no-repeat; }

.icon-microsoft { background-image: url('png/microsoft.png'); background-repeat: no-repeat; }

.icon-microsoftaccess { background-image: url('png/microsoftaccess.png'); background-repeat: no-repeat; }

.icon-microsoftexcel { background-image: url('png/microsoftexcel.png'); background-repeat: no-repeat; }

.icon-microsoftonenote { background-image: url('png/microsoftonenote.png'); background-repeat: no-repeat; }

.icon-microsoftoutlook { background-image: url('png/microsoftoutlook.png'); background-repeat: no-repeat; }

.icon-microsoftpowerpoint { background-image: url('png/microsoftpowerpoint.png'); background-repeat: no-repeat; }

.icon-microsoftword { background-image: url('png/microsoftword.png'); background-repeat: no-repeat; }

.icon-minecraft { background-image: url('png/minecraft.png'); background-repeat: no-repeat; }

.icon-minutemailer { background-image: url('png/minutemailer.png'); background-repeat: no-repeat; }

.icon-mixcloud { background-image: url('png/mixcloud.png'); background-repeat: no-repeat; }

.icon-monkeytie { background-image: url('png/monkeytie.png'); background-repeat: no-repeat; }

.icon-monogram { background-image: url('png/monogram.png'); background-repeat: no-repeat; }

.icon-moo { background-image: url('png/moo.png'); background-repeat: no-repeat; }

.icon-myspace { background-image: url('png/myspace.png'); background-repeat: no-repeat; }

.icon-netflix { background-image: url('png/netflix.png'); background-repeat: no-repeat; }

.icon-nintendo { background-image: url('png/nintendo.png'); background-repeat: no-repeat; }

.icon-oculus { background-image: url('png/oculus.png'); background-repeat: no-repeat; }

.icon-odnoklassniki { background-image: url('png/odnoklassniki.png'); background-repeat: no-repeat; }

.icon-onedrive { background-image: url('png/onedrive.png'); background-repeat: no-repeat; }

.icon-opera { background-image: url('png/opera.png'); background-repeat: no-repeat; }

.icon-overcast { background-image: url('png/overcast.png'); background-repeat: no-repeat; }

.icon-patreon { background-image: url('png/patreon.png'); background-repeat: no-repeat; }

.icon-paypal { background-image: url('png/paypal.png'); background-repeat: no-repeat; }

.icon-periscope { background-image: url('png/periscope.png'); background-repeat: no-repeat; }

.icon-pingup { background-image: url('png/pingup.png'); background-repeat: no-repeat; }

.icon-pinterest { background-image: url('png/pinterest.png'); background-repeat: no-repeat; }

.icon-playerme { background-image: url('png/playerme.png'); background-repeat: no-repeat; }

.icon-playstation { background-image: url('png/playstation.png'); background-repeat: no-repeat; }

.icon-pocket { background-image: url('png/pocket.png'); background-repeat: no-repeat; }

.icon-podcasts { background-image: url('png/podcasts.png'); background-repeat: no-repeat; }

.icon-protoio { background-image: url('png/protoio.png'); background-repeat: no-repeat; }

.icon-quantopian { background-image: url('png/quantopian.png'); background-repeat: no-repeat; }

.icon-quora { background-image: url('png/quora.png'); background-repeat: no-repeat; }

.icon-raspberrypi { background-image: url('png/raspberrypi.png'); background-repeat: no-repeat; }

.icon-rdio { background-image: url('png/rdio.png'); background-repeat: no-repeat; }

.icon-react { background-image: url('png/react.png'); background-repeat: no-repeat; }

.icon-readability { background-image: url('png/readability.png'); background-repeat: no-repeat; }

.icon-readthedocs { background-image: url('png/readthedocs.png'); background-repeat: no-repeat; }

.icon-reddit { background-image: url('png/reddit.png'); background-repeat: no-repeat; }

.icon-reverbnation { background-image: url('png/reverbnation.png'); background-repeat: no-repeat; }

.icon-rss { background-image: url('png/rss.png'); background-repeat: no-repeat; }

.icon-ruby { background-image: url('png/ruby.png'); background-repeat: no-repeat; }

.icon-runkeeper { background-image: url('png/runkeeper.png'); background-repeat: no-repeat; }

.icon-sass { background-image: url('png/sass.png'); background-repeat: no-repeat; }

.icon-saucelabs { background-image: url('png/saucelabs.png'); background-repeat: no-repeat; }

.icon-scribd { background-image: url('png/scribd.png'); background-repeat: no-repeat; }

.icon-sega { background-image: url('png/sega.png'); background-repeat: no-repeat; }

.icon-sellfy { background-image: url('png/sellfy.png'); background-repeat: no-repeat; }

.icon-sentiayoga { background-image: url('png/sentiayoga.png'); background-repeat: no-repeat; }

.icon-shopify { background-image: url('png/shopify.png'); background-repeat: no-repeat; }

.icon-simpleicons { background-image: url('png/simpleicons.png'); background-repeat: no-repeat; }

.icon-sinaweibo { background-image: url('png/sinaweibo.png'); background-repeat: no-repeat; }

.icon-sitepoint { background-image: url('png/sitepoint.png'); background-repeat: no-repeat; }

.icon-skype { background-image: url('png/skype.png'); background-repeat: no-repeat; }

.icon-slack { background-image: url('png/slack.png'); background-repeat: no-repeat; }

.icon-slashdot { background-image: url('png/slashdot.png'); background-repeat: no-repeat; }

.icon-slides { background-image: url('png/slides.png'); background-repeat: no-repeat; }

.icon-smashingmagazine { background-image: url('png/smashingmagazine.png'); background-repeat: no-repeat; }

.icon-snapchat { background-image: url('png/snapchat.png'); background-repeat: no-repeat; }

.icon-songkick { background-image: url('png/songkick.png'); background-repeat: no-repeat; }

.icon-soundcloud { background-image: url('png/soundcloud.png'); background-repeat: no-repeat; }

.icon-speakerdeck { background-image: url('png/speakerdeck.png'); background-repeat: no-repeat; }

.icon-spotify { background-image: url('png/spotify.png'); background-repeat: no-repeat; }

.icon-spreaker { background-image: url('png/spreaker.png'); background-repeat: no-repeat; }

.icon-squarespace { background-image: url('png/squarespace.png'); background-repeat: no-repeat; }

.icon-stackoverflow { background-image: url('png/stackoverflow.png'); background-repeat: no-repeat; }

.icon-statamic { background-image: url('png/statamic.png'); background-repeat: no-repeat; }

.icon-steam { background-image: url('png/steam.png'); background-repeat: no-repeat; }

.icon-stitcher { background-image: url('png/stitcher.png'); background-repeat: no-repeat; }

.icon-storify { background-image: url('png/storify.png'); background-repeat: no-repeat; }

.icon-stripe { background-image: url('png/stripe.png'); background-repeat: no-repeat; }

.icon-stubhub { background-image: url('png/stubhub.png'); background-repeat: no-repeat; }

.icon-stumbleupon { background-image: url('png/stumbleupon.png'); background-repeat: no-repeat; }

.icon-styleshare { background-image: url('png/styleshare.png'); background-repeat: no-repeat; }

.icon-subversion { background-image: url('png/subversion.png'); background-repeat: no-repeat; }

.icon-swarm { background-image: url('png/swarm.png'); background-repeat: no-repeat; }

.icon-ted { background-image: url('png/ted.png'); background-repeat: no-repeat; }

.icon-telegram { background-image: url('png/telegram.png'); background-repeat: no-repeat; }

.icon-tesla { background-image: url('png/tesla.png'); background-repeat: no-repeat; }

.icon-tinder { background-image: url('png/tinder.png'); background-repeat: no-repeat; }

.icon-toggl { background-image: url('png/toggl.png'); background-repeat: no-repeat; }

.icon-topcoder { background-image: url('png/topcoder.png'); background-repeat: no-repeat; }

.icon-trakt { background-image: url('png/trakt.png'); background-repeat: no-repeat; }

.icon-travisci { background-image: url('png/travisci.png'); background-repeat: no-repeat; }

.icon-treehouse { background-image: url('png/treehouse.png'); background-repeat: no-repeat; }

.icon-trello { background-image: url('png/trello.png'); background-repeat: no-repeat; }

.icon-tripadvisor { background-image: url('png/tripadvisor.png'); background-repeat: no-repeat; }

.icon-trulia { background-image: url('png/trulia.png'); background-repeat: no-repeat; }

.icon-tumblr { background-image: url('png/tumblr.png'); background-repeat: no-repeat; }

.icon-twilio { background-image: url('png/twilio.png'); background-repeat: no-repeat; }

.icon-twitch { background-image: url('png/twitch.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-twoo { background-image: url('png/twoo.png'); background-repeat: no-repeat; }

.icon-uber { background-image: url('png/uber.png'); background-repeat: no-repeat; }

.icon-ubuntu { background-image: url('png/ubuntu.png'); background-repeat: no-repeat; }

.icon-udacity { background-image: url('png/udacity.png'); background-repeat: no-repeat; }

.icon-viadeo { background-image: url('png/viadeo.png'); background-repeat: no-repeat; }

.icon-viber { background-image: url('png/viber.png'); background-repeat: no-repeat; }

.icon-vimeo { background-image: url('png/vimeo.png'); background-repeat: no-repeat; }

.icon-vine { background-image: url('png/vine.png'); background-repeat: no-repeat; }

.icon-virb { background-image: url('png/virb.png'); background-repeat: no-repeat; }

.icon-visa { background-image: url('png/visa.png'); background-repeat: no-repeat; }

.icon-vk { background-image: url('png/vk.png'); background-repeat: no-repeat; }

.icon-vuejs { background-image: url('png/vuejs.png'); background-repeat: no-repeat; }

.icon-wechat { background-image: url('png/wechat.png'); background-repeat: no-repeat; }

.icon-whatsapp { background-image: url('png/whatsapp.png'); background-repeat: no-repeat; }

.icon-wikipedia { background-image: url('png/wikipedia.png'); background-repeat: no-repeat; }

.icon-windows { background-image: url('png/windows.png'); background-repeat: no-repeat; }

.icon-wix { background-image: url('png/wix.png'); background-repeat: no-repeat; }

.icon-wordpress { background-image: url('png/wordpress.png'); background-repeat: no-repeat; }

.icon-xbox { background-image: url('png/xbox.png'); background-repeat: no-repeat; }

.icon-xero { background-image: url('png/xero.png'); background-repeat: no-repeat; }

.icon-xing { background-image: url('png/xing.png'); background-repeat: no-repeat; }

.icon-yahoo { background-image: url('png/yahoo.png'); background-repeat: no-repeat; }

.icon-yammer { background-image: url('png/yammer.png'); background-repeat: no-repeat; }

.icon-yelp { background-image: url('png/yelp.png'); background-repeat: no-repeat; }

.icon-youtube { background-image: url('png/youtube.png'); background-repeat: no-repeat; }

.icon-zapier { background-image: url('png/zapier.png'); background-repeat: no-repeat; }

.icon-zerply { background-image: url('png/zerply.png'); background-repeat: no-repeat; }

.icon-zillow { background-image: url('png/zillow.png'); background-repeat: no-repeat; }

